.ck-content {
	overflow-wrap: break-word;

	//GENERAL STYLES
	p {
		font-size: 1.125rem;
		font-size: clamp( 1.125rem, 4vw, 1.25rem );
	}

	h2, .h2 {
		font-size: 2rem;
		font-size: clamp( 1.5rem, 4vw, 2rem );
		font-weight: 500;
		margin-block: 4rem 2rem;
	}

	h3, .h3 {
		font-size: 1.5rem;
		font-weight: 500;
	}
	
	h4, .h4 {
		font-size: 1.25rem;
		margin-block: 2rem 1rem;
	}

	h5, .h5 {
		font-size: 1rem;
	}

	figure.image,
	p:has(> img) {
		margin-block: 2rem;
	}

	// CODE STYLES
	pre {
		
		@include breakpoint($screen-md) {
			tab-size: 1;
			white-space: pre;
		}

		code.hljs {
			font-size: clamp( 0.875rem, 4vw, 1rem );
	
			@include breakpoint($screen-md) {
				padding: 0;
			}
		}

		.hljs-comment {
			color: var(--colour-primary-light);
		}
	}


	// STYLES' STYLES
	.inline-code {
		background-color: var(--colour-primary-light);
		padding: 0.1rem 0.5rem;
	}
}
