// Extra small screen / phone
$screen-xs: 480px !default;

// Small screen / tablet
$screen-sm: 782px !default;

// Medium screen / desktop
$screen-md: 992px !default;

// Medium Large / laptop
$screen-lg: 1100px !default;

// Large screen / wide desktop
$screen-xl: 1470px !default;