html, body {
	font-size: 18px;
}

article a,
footer a {
	color: var(--colour-primary-dark);
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	&[target="_blank"] {
		position: relative;
		margin-right: 1rem;
    display: inline-block;

		&::after {
			content: "\2197";
			position: absolute;
			text-align: center;
			right: -1rem;
			font-size: 10px;
			border-radius: 2px;
			width: 16px;
			height: 16px;
			line-height: normal;
			top: 8px;
			border: 1px solid var(--colour-primary-dark);
			
			@include breakpoint($screen-md) {
				border: none;
			}
		}
	}
}

p {
	margin-bottom: 0.75rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: var(--font-rubik);
	margin-bottom: 0.5rem;
	line-height: normal;
}

h1, .h1 {
	font-size: 3rem;
	font-size: clamp( 2rem, 4vw, 3rem );
	font-weight: 500;
}

h2, .h2 {
	font-size: 2rem;
	font-size: clamp( 1.5rem, 4vw, 2rem );
	font-weight: 500;
}

h3, .h3 {
	font-size: 1.5rem;
	font-weight: 500;
}

h4, .h4 {
	font-size: 1.25rem;
}

h5, .h5 {
	font-size: 1rem;
}